.center {
    border: 2px solid red;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding-bottom: 7px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}
